{% block navbar %}
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="{{path('accueil')}}">RedécouvrirDieu.fr</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{{path('articles')}}">Les Projets</a>
		      </li>


		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Autres
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		        
		        	<h6 class="dropdown-header">Annexes</h6>
		        		<a class="dropdown-item" href="#">Médiathèque</a>
		        	{% if app.user %}
		          		<a class="dropdown-item" href="{{path('create')}}">Ajouter un article</a>
					{% endif %}

		           <div class="dropdown-divider"></div>
		           <h6 class="dropdown-header">Tribune Libre</h6>
		           <a class="dropdown-item" href="{{path('articles')}}">Liste complète des articles</a>
		          
		        </div>
		      </li>
		    </ul>


		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Chercher une page" aria-label="Search" onkeyup="showResult(this.value)">
		      <div id="livesearch"></div>
		    </form>


		    <ul class="navbar-nav">
		    {% if not app.user %}
			      <li class="nav-item">
			        <a class="btn btn-perso" href="{{path('security_login')}}">Se logger</a>
			      </li>
			      <li class="nav-item">
			        <a class="btn btn-perso" href="{{path('security_registration')}}">S'enregistrer</a>
			      </li>
		      {% else %}
			      {% if is_granted('ROLE_ADMIN') %}
			      	<li class="nav-item">
			        <a class="btn btn-perso" href="{{path('admin')}}">Administration</a>
			      </li>
			      {% endif %}
			      <li class="nav-item">
			        <a class="btn btn-perso" href="{{path('security_logout')}}">Se déconnecter</a>
			      </li>
			  {% endif %}
			  </ul>
		  </div>
		</nav>
{% endblock %}